<div class="card" style="width: 18rem;">
    <img [src]="pokemon!.sprites.front_default" alt="">
    <div class="card-body">
        <h5 class="card-title">{{pokemon!.name}}</h5>
        <p class="card-text">{{pokemon?.weight}} kg</p>
        <p class="card-text">{{pokemon?.height}} m</p>
        <ngb-progressbar class="mb-3" [type]="getProgressBarColor()" textType="white" [value]="life"
            [showValue]="true" />
        @if (isMyTurn) {

        @if (life <= 0) { <p class="text-danger">You lose</p>

            } @else {
            <button (click)="doAttack()" class="btn btn-danger w-100">Attack</button>
            }
            } @else {
            <button class="btn btn-secondary w-100" disabled>Waiting</button>
            }

    </div>
</div>
