<div class="container-fluid mt-5 flex-column align-items-center">
    <div class="row justify-content-center">


        <div class="col-12 col-md-4 d-flex justify-content-center mb-4">
            <app-pokemon [pokemonId]="pokemonPlayer1Id" [life]="lifePokemon1" [isMyTurn]="pokemonTurn==1"
                (onAttackDone)="applyDamage($event)" (cambiarPokemon)="handlePokemonChange()">
            </app-pokemon>
        </div>

        <div class="col-12 col-md-4 d-flex justify-content-center mb-4">
            <app-pokemon [pokemonId]="pokemonPlayer2Id" [life]="lifePokemon2" [isMyTurn]="pokemonTurn==2"
                (onAttackDone)="applyDamage($event)" (cambiarPokemon)="handlePokemonChange()">
            </app-pokemon>
        </div>
    </div>


    <div class="row justify-content-center mt-4">
        <div class="col-md-2 text-center">
            <button class="btn btn-primary mt-2" (click)="reiniciarBatalla()">Reiniciar Batalla</button>
        </div>
    </div>
</div>